


*{
  position:10px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a{
    position: relative;
    padding: 25px 10px;
    margin: 10px 0; color: #C71585;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s; letter-spacing: 4px;
    overflow: hidden; margin-right: 50px;
	  border-radius: 10px 100px / 120px;
	  font-weight: 700;
	  font-size: 1.4rem;
	  height:64px;
	  position:center;
	 
	  
}

a:hover{
    background:#FFE4E1; color: #050801;
	  border-radius:50px;
}
a span{
    position: absolute;
    display: block;
	  border-radius: 10px 100px / 120px;
}

a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 13px;
    background: linear-gradient(90deg,transparent,#FFD700);
    animation: animate1 1s linear infinite;
	  border-radius: 10px 100px / 120px;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%; right: 0;
    width: 16px; height: 13px;
    background: linear-gradient(180deg,transparent,#00FFFF);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
	  border-radius: 10px 100px / 120px;
}

@keyframes animate2{
    0%{ top: -100%; }
    50%,100%{ top: 100%; }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 13px;
    background: linear-gradient(270deg,transparent,#FF8C00);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
	  border-radius: 10px 100px / 120px;
}

@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 13px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
	  border-radius: 10px 100px / 120px;
}

@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}








* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    position:10px;

  }
  body {
    font-family:cursive;
  }
  nav {
    background-image:linear-gradient(to right,#87CEFA, #00BFFF,#87CEFA, #98FBED);
    height:184px;
    color: ;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  nav .mainMenu {
    display: flex;
    list-style: none;
background-image:linear-gradient(to right,#87CEFA, #00BFFF,#87CEFA, #98FBED);;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
font-family: cursive;
    font-size: 18px;
    transition: 0.2s ease;
  }
  nav .mainMenu li a:hover {
 
 
  }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  
  }
  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;

  }
  .fa-facebook:hover {
    color: rgb(0, 110, 255);
  }
  .fa-twitter:hover {
    color: rgb(86, 154, 243);
  }
  .fa-instagram:hover {
    color: rgb(255, 0, 191);
  }
  .fa-github:hover {
    color: rgb(255, 123, 0);
  }
  nav .logo {
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
    background-color:#FFC0CB;

  }
  @media (max-width: 800px) {
    nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   
      transition: top 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu {
      display: block;
    }
    nav .mainMenu li a:hover {
      background: none;
   
    }
    .icons i {
      display: inline-block;
      padding: 12px;
    }
  }
  html, body {
  background-image:#FFE4E1;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}


.slider {
  margin: 0 auto;
  max-width: 1260px;
  
}

.slide_viewer {
  height: 415px;
  overflow: hidden;
  position: relative;
  background-image:linear-gradient(to right, #FF6347,#FF7F50, #00BFFF,#EE82EE);
}

.slide img{

max-width: 100%;
height: auto;
opacity:4;
display: block;
margin-left: auto;
margin-right: auto;
}


.slide_group {

  position: relative;

}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {

}

.slide:nth-of-type(2) {
 
}

.slide:nth-of-type(3) {
 
}

.slide:nth-of-type(4) {

}



a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.slide_btn.active, .slide_btn:hover {
  color: #0000FF;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 740px;
  position: relative;
  top: -340px;
  width:470px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;

}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 390px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
 
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;

  }
  .next_btn {
    right: 50px;
  }
}

a.bouton2 {
  width: 385px;
  height: 200px;
  font-size: 1.3rem;
 
  font-weight: 700;
  position: relative;
  color: white;
  z-index: 0;
  border: 1px solid #892cdc;
  background:#00BFFF;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 100px / 120px;
  display:inline-block;
  margin:8px;
  font-family:cursive;
}
a.bouton2::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9932CC;
  border-radius: 50% 50% 0% 0%;
  z-index: -1;
  transition: all .5s;
}
a.bouton2:hover::before {
  top: 0px;
  border-radius: 0;
}


