 
 body{
 	font-family:"Inter", sans-serif;
 	margin:0;
 	line-height: 1.5;
	
	
 }

 *{
 	box-sizing: border-box;
 	margin: 0;
	
 }

 .container{
 	max-width: 1170px;
 	margin: auto;
	
 }
 .row{
 	display: flex;
 	flex-wrap: wrap;
 }
.section-title{
	flex:0 0 100%;
	max-width: 100%;
	margin-bottom: 60px;
}
.section-title h1{
	text-align: center;
	font-size: 36px;
	color:#000000;
	margin:20px;
	padding:20px;
	border:6px solid blue;
	border-radius:25px;

}
 .services{
 	min-height: 100vh;
 	padding:80px 0;
	
 }

.services .service-items{
	flex:0 0 100%;
	max-width: 100%;
	
}
.services .service-items .item{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;
	
	
	
	
}


	
.services .service-items .item-inner:hover{
	background-color:#0c8aea;
	border-color:#1DA1F2 3px;
}

	
	
	
	
.services .service-items .item-inner{
	display:flex;
	flex-wrap:wrap;
	flex:1;
	margin:20px;
	padding:20px;
	border:6px solid #49FF66;
	border-radius:25px;
	background-color:black;
	
	
}
.services .service-items .read-more-cont{
	display: none;
}
.services .service-items .item-inner h3{
	font-size: 20px;
	color:#000000;
	margin-bottom: 30px;
	position: relative;
}
.services .service-items .item-inner h3::before{
  content: '';
  height: 3px;
  width: 80px;
  background-color:#00ff26;
  position: absolute;
  left:0;
  bottom:-10px;
  border-radius:25px;
  
}

.services .service-items .item-inner p{
	color:white;
	font-size:25px;
	font-weight:800;
	margin:0 0 30px;
	font-family:'Monserrat',sans-serif;
	
}
.services .service-items .item-inner .btn{
	font-size: 1.2rem;
	background-color: #49FF66;
	border:6px solid white;
	color:black;
	padding: 9px 42px;
	cursor: pointer;
	height:54px;
	border-radius:25px;
	font-family:fantasy;
	padding:6px 4;
	
}

.popup-box{
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top:0;
	background-color: rgba(0,0,0,0.5);
	z-index: 500;
	visibility: hidden;
	opacity:0;
	transition: all 0.5s ease-in-out;
}
.popup-box.open{
  visibility: visible;
	opacity:1;	
}
.popup-box .popup-content{
	background-color: #ffffff;
	width: 700px;
	
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	border-radius: 8px;
}

.popup-box .popup-header{
	padding: 15px 40px 15px 15px;
	border-bottom: 1px solid #dddddd;
}
.popup-box .popup-header h3{
	margin:0;
	color:#E91E63;
	font-size: 20px;
}
.popup-box .popup-header .popup-close-icon{
	position: absolute;
    height: 80px;
    width: 80px;
    text-align: center;
    color: #1E90FF;
    font-size: 65px;
    line-height: 30px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.popup-box .popup-body{
	padding: 15px;
	max-height: 430px;
	overflow-y: auto;
}
.popup-box .popup-body img{
	width: 100%;
	display: block;
	margin-top: 15px;
}
.popup-box .popup-body p{
	font-size: 18px;
	color:#333;
	margin:0 0 15px;
	font-family:"Inter", sans-serif;
	font-weight:500;
	
}


.popup-box .popup-footer{
	padding: 15px;
	border-top:1px solid #dddddd;
	text-align: right;
}
.popup-box .popup-footer .btn{
	padding: 8px 15px;
	border:1px solid #555555;
	color:#555555;
	font-size: 16px;
	background-color: transparent;
	cursor: pointer;
	border-radius: 4px;
}
.popup-box .popup-footer .btn:focus{
	outline: none;
}


/*responsive*/

@media(max-width: 767px){
	.services .service-items .item{
	  flex:0 0 100%;
      max-width: 100%;
   }
   .popup-box .popup-content{
   	 width: calc(100% - 30px);
   }
}






