a.bouton3 {
  width: 385px;
  height: 200px;
  font-size: 1.3rem;
 
  font-weight: 700;
  position: relative;
  color: white;
  z-index: 0;
  border: 1px solid #892cdc;
  background:#BA55D3;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  display:inline-block;
  margin:8px;
  font-family:cursive;
}
a.bouton3::before {
  content: '';
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100%;
  background:#87CEFA;
  border-radius: 50% 50% 0% 0%;
  z-index: -1;
  transition: all .5s;
}
a.bouton3:hover::before {
  top: 0px;
  border-radius: 0;
}


