 .style
           .video-container {
            position: relative;
            width: 100%; /* Ajustez la largeur selon vos besoins */
            height: auto; /* Ajustez la hauteur selon vos besoins */
        }

        .video {
            width: 100%;
            height: auto;
        }

        .text-overlay {
            position: absolute;
            top: 10px; /* Ajustez la position verticale */
            left: 10px; /* Ajustez la position horizontale */
            background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent pour le texte */
            padding: 10px;
            border-radius: 5px;
        }